* {
  margin: 0;
  padding: 0;
}
body {
  color: black;
}
/************ index.html**************/
.navbar {
  border: 0;
  background-color: rgba(156, 39, 176, 1);
  margin-bottom: 0px;
}
.navbar-default .navbar-brand {
  color: #fff;
  font-size: 30px;
  font-weight: 900;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}
.navbar-default .navbar-toggle {
  border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #9c27b0;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #9c27b0;
  background-color: white;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
/************ Side-Menu ***************/
.cbp-spmenu {
  background: #fff;
  position: fixed;
  top: 50px;
  height: 100%;
  z-index: 999;
  width: 260px;
  box-shadow: 11px 1px 22px -9px rgba(156, 39, 176, 0.48);
}
.user-profile-block {
  padding: 20px 0px 30px;
  display: table;
  position: relative;
  background-size: cover;
  width: 100%;
  text-align: center;
}
.user-info h5 {
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 0px;
}
.user-info span {
  font-size: 13px;
  margin: 0px;
}
.nav-item {
  cursor: pointer;
  padding: 15px 0px;
}
.nav-item a {
  padding: 18px 0px 18px 30px;
  font-weight: 300;
  color: #111;
  position: relative;
}
ul.nav.sideNav>li>a {
  padding: 15px 25px;
  color: #9c27b0;
  font-size: 15px;
  font-weight: bold;
}
ul.nav.sideNav>li>a:hover, ul.nav.sideNav>li>a:focus {
    text-decoration: none;
    background-color: #9c27b0;
    color: #fff !important;
}
.slide-nav-trigger {
  display: none;
}
.main-area {
  width: calc(100% - 260px);
  margin-left: 0;
  position: relative;
  -webkit-transform: translate3d(260px, 0, 0);
  transform: translate3d(260px, 0, 0);
  top: 120px;
}
/************ Settings page************/
#delAcct {
  display: none;
}
.delBtn:hover {
  color: #fff;
  background-color: red;
  border-color: transparent;
}
.delBtn {
  background-color: #9c27b0;
  border-radius: 0px;
  padding: 10px 20px;
  font-weight: bold;
  border-color: transparent;
}
/************ footer.html**************/
footer {
  background-color: #9c27b0;
  color: #fff;
}
.footer nav ul li {
  float: left;
  padding: 20px;
}
.footer nav ul {
  list-style: none;
  text-decoration: none;
}
footer nav>ul>li>a {
  color: #fff;
}
footer nav>ul>li>a:hover, footer nav>ul>li>a:focus {
  color: #ffffff;
  text-decoration: none;
}
footer>div.container {
  max-width: 100%;
}
.copyright {
  padding: 20px;
}
/************ footer.html**************/
@media screen and (max-width: 991px) {
  .main-area {
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cbp-spmenu {
    position: relative;
    visibility: hidden;
    max-height: 0;
    top: 80px;
  }
}
