* {
  margin: 0;
  padding: 0;
}
body {
  color: black;
}
/************ index.html**************/
.navbar {
  border: 0;
  background-color: rgba(156, 39, 176, 1)
}
.navbar-default .navbar-brand {
  color: #fff;
  font-size: 30px;
  font-weight: 900;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}
.navbar-default .navbar-toggle {
  border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #9c27b0;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #9c27b0;
  background-color: white;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
option, optgroup {
  background-color: #9c27b0;
  color: #fff;
}
/************ Carousel Section**************/
.main-header-section {
  padding: 14% 0% 10%;
  position: relative;
  background-size: cover;
  height: 100%;
}
.main-header-section .overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(17, 17, 17, 0.7);
}
.header-content-block, .requestForm {
  position: relative;
  z-index: 99;
}
.requestForm .title {
  color: #fff;
  margin: 0px 0px 20px;
}
.requestForm label {
  color: #fff;
  font-weight: 300;
}
.header-title-block h2 {
  font-size: 46px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 11px;
}
.header-title-block p {
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(17, 17, 17, 0.7);
}
button.btn.btn-how {
  border-radius: 0px;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #9c27b0;
  color: #fff;
  margin-bottom: 20px;
}
button.btn.btn-how:hover {
  background-color: #9c27b0;
}
.requestForm.form-control {
  border-radius: 0px;
  background-color: transparent;
  padding: 12px 14px;
  height: auto;
  color: #fff;
}
.requestForm.form-control:focus {
  border-color: #9c27b0;
}
select.form-control.deb {
  color: #fff;
}
.form-control {
  border-radius: 0px;
  background-color: transparent;
  padding: 12px 14px;
  height: auto;
  color: #9C27B0;
  font-size: 15px;
}
.findForm .form-control {
  color: #fff;
}
.form-control:focus {
  border-color: #9c27b0;
}

/************ Search Area **************/
section#search {
  background-color: #9C27B0;;
  padding: 25px 0px;
}
#search .form-control, #search label {
  color: #fff;
}
#search .form-control:focus {
  border-color: #fff;
}
.btn-search, .btn-search:hover {
  color: #9c27b0;
  background-color: #fff;
  width: 100%;
  margin-top: 6px;
  border: 1px solid #fff;
  border-radius: 0px;
  padding: 10px 14px;
  font-size: 16px;
  font-weight: bold;
}
.btn-search:active {
  color: #fff;
  background-color: #9c27b0;
  border-color: #9c27b0;
}
#result {
  padding: 30px 0px;
}
/************ Working Section**************/
#work, #hiring, #contact {
  padding: 70px 0px;
}
h2.header-how-work {
  font-size: 32px;
  color: #9c27b0;
  font-weight: bold;
  margin-bottom: 50px;
  text-align: center;
}
h4.sub-title {
  text-align: center;
  font-size: 20px;
  color: #9c27b0;
  font-weight: bold;
}
p.title-text {
  font-size: 18px;
}
button.btn.btn-send-message {
  border-radius: 0px;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #9c27b0;
  color: #9c27b0;
}
button.btn.btn-send-message:hover {
  background-color: #9c27b0;
  color: #fff;
}
textarea {
  resize: none;
}

/************ Hiring Got Easier *************/
#hiring {
  padding: 70px 0px;
  background-color: #d9d9d9;
}
h3.title {
  font-size: 24px;
  color: #9c27b0;
}
.panel-default>.panel-heading {
  color: #fff;
  background-color: #9c27b0;
  border-color: #9c27b0;
  border-radius: 0px;
}
button.btn.findOut {
  border-radius: 0px;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #9c27b0;
  color: #9c27b0;
  margin-bottom: 20px;
}
button.btn.findOut:hover {
  background-color: #9c27b0;
  color: #fff;
}
/************ Contact Us *************/
.contact-header-section {
  padding: 120px 0px 0px;
  position: relative;
  background-size: cover;
  height: 70vh;
  background-image: url('../img/background/contactus.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.contact-widget p span {
  display: inline-block;
}
.fa {
  font-size: 20px;
  padding: 9px;
  color: #9c27b0;
}
.contact-widget p i.fa {
  vertical-align: top;
}
.contact-section .contact-widget ul.social li {
  margin: 0 10px 0 0;
}
.social-with-label span {
  display: inline-block;
}
ul.social, ul.social li {
  display: inline-block;
  font-size: 0px;
}
/************ Modal Settings **************/
.modal-content {
  border-radius: 0px;
}
.modal-header {
  background-color: #4e1358;
  color: #fff;
  border-radius: 0px;
}
.regForm .form-control {
  padding: 7px 14px;
}
label.error {
  font-weight: 300;
  color: red;
  font-size: 12px;
}
.close {
  color: #fff ;
  opacity: .8;
}
#artisanReg, #artisanLogin, #fpassForm {
  display: none;
}
#profileconfirmed {
  display: none;
}
/************ Feedback Area **************/
.feedback-header {
  padding: 10% 0% 5%;
  position: relative;
  background-image: url('../img/background/advert.jpeg');
  background-size: cover;
  height: 100%;
}
.feedback-header .overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(17, 17, 17, 0.6);
}
.clients {
  padding: 15px 15px 10px 20px;
  margin: 20px 0px;
  border-radius: 5px;
  box-shadow: 0px 4px 17px 4px rgba(10, 10, 10, 0.27);
}
.header h2 {
  font-weight: 600;
  color: #9c27b0;
}
.sub-header p {
  margin: 5px 0px;
  font-size: 15px;
  letter-spacing: 1px;
}
.sub-header p i.fa {
  font-size: 20px;
  margin: 0px 10px 0px 0px;
}
#searchresult {
  display: none;
}
/************ footer.html**************/
footer {
  background-color: #9c27b0;
  color: #fff;
}
.footer nav ul li {
  float: left;
  padding: 20px;
}
.footer nav ul {
  list-style: none;
  text-decoration: none;
}
footer nav>ul>li>a {
  color: #fff;
}
footer nav>ul>li>a:hover, footer nav>ul>li>a:focus {
  color: #ffffff;
  text-decoration: none;
}
.copyright {
  padding: 20px;
}
/************ footer.html**************/
@media (max-width: 1400px) {
  .main-header-section .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(17, 17, 17, 0.7);
  }
}
@media (max-width: 480px) {
  .header h2 {
    font-weight: 600;
    color: #f3af00;
    font-size: 21px;
  }
  .sub-header p i.fa {
    font-size: 16px;
    margin: 0px 3px 0px 0px;
  }
  .sub-header p {
    margin: 5px 0px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
  }
  .feedback-header {
    padding: 15% 0% 10%;
  }
}
@media (max-width: 376px) {
  .main-header-section .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(17, 17, 17, 0.7);
  }
}
@media (max-width: 991px) {
  .main-header-section {
    padding: 20% 0% 10%;
  }
}
